# Autoconf
autom4te.cache
ar-lib
compile
config.h
config.h.in
config.log
config.status
depcomp
install-sh
missing
.deps
Makefile
stamp-h1

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio Folders
.vs/
VTGraph/Debug/
x64/
x32/
Debug
Release
build

# Codeblocks Folders
bin/
obj/

# Codeblocks project
*.cbp
*.depend
*.layout

# VSCode
.vscode
